@font-face
	font-family: 'Geist'
	font-display: swap
	font-weight: 400
	font-stretch: normal
	font-style: normal
	src: url('../f/geist-v3-latin-regular.woff2') format('woff2')

@font-face
	font-family: 'Geist Mono'
	font-display: swap
	font-weight: 400
	font-stretch: normal
	font-style: normal
	src: url('../f/geist-mono-v3-latin.woff2') format('woff2')

@font-face
	font-family: 'Pirata One'
	font-display: swap
	font-weight: 400
	font-stretch: normal
	font-style: normal
	src: url('../f/pirata-one-v22-latin-regular.woff2') format('woff2')
