@use "moonqueen.sass"

:root
  background-color: var(--black)
  color: var(--bright-white)

body
  font-family: "Iosevka", monospace
  font-size: 16pt
  max-width: 40em

h1
  font-style: italic

strong
  color: var(--bright-cyan)

a, em
  color: var(--bright-yellow)

a
  text-decoration: none

a:hover
  color: var(--blue)

em
  font-style: normal
