@use "fonts.sass"
@use "perona.sass"

:root
  background: linear-gradient(90deg,var(--blue) 0%, var(--cyan) 100%)
  background-color: var(--blue)
  color: white

body
  font-family: "Iosevka Web", monospace
  font-size: 24pt
  max-width: 40em
  margin: 1em
  text-shadow: 1px 1px 2px var(--black)

h1
  font-style: italic

h2
  text-transform: uppercase

a
  color: inherit

a:hover
  text-decoration: none

ul
  list-style-type: none
  margin: 0
  padding: 0
